<div class='triangle-container'>
  <svg viewBox="0 0 800 800" width="100%" height="100%" preserveAspectRatio="xMinYMin meet" class="svg-triangle">
    <polygon class= "tri-btm" points="800,702.934,69.619,395.947,630.27,57"/>
    <polygon class ="tri-top" points="573.697,716,0,180.94,629.488,57.056"/>
  </svg>
</div>
<section>
  <div class="info-container">
    <div class="name">
      <strong>Mike Hernandez</strong>
      <div class="title">Software Developer</div>
      <section id='links'>
        <% link_to 'https://github.com/mikez321' do %>
          <%= image_tag 'iconfinder_Github_381376.png', :id => 'connect-link' %>
        <% end %>
        <% link_to 'https://www.linkedin.com/in/mikez321/' do %>
          <%= image_tag 'iconfinder_linkedin_square_gray_107090.png', :id => 'connect-link' %>
        <% end %>
        <a href="mailto:hernandezmichael321@gmail.com">
          <%= image_tag 'iconfinder_112-gmail_email_mail_4202011.png', :id => 'connect-link' %>
        </a>
      </section>
    </div>
  </div>
</section>
<% tech = {
  'python' => "I'm currently Python developer at ReRent where we take the stress out of renting
    your home on Airbnb.",
  'flask' => "Over 14 days I built a REST API using Flask to power the front end of Oh Crop.",
  'django' => "ReRent is powered by Python and delivered through Django's
    MVT framework.",
  'ruby' => "This website is built with Middleman and Ruby code.",
  'rubyonrails' => "I have built monolith Rails apps, Rails apps that rely on
    microservices, and Rails APIs.",
  'postgresql' => "Through ActiveRecord, SQLAlchemy, and Django's ORM, Postgres
    Databases have powered most of my work.",
  'atom' => "I'm quite happy with Atom as a text editor!"
} %>
<% tech.each do |tech, desc| %>
<section id=<%= tech %>>
  <div class="info-container">
    <div class="logo-container">
      <%= image_tag "https://simpleicons.org/icons/#{tech}.svg", :class => 'logo' %>
    </div>
    <div class="lower-text-container">
      <%= desc %>
    </div>
  </div>
</section>
<% end %>
