<div class="triangle-container">
  <div class="triangle-top"></div>
</div>
<section>
  <div class="info-container">
    <div class="name">
      <strong>Mike Hernandez</strong>
      <section id='links'>
        <% link_to 'https://github.com/mikez321' do %>
          <%= image_tag 'iconfinder_Github_381376.png', :id => 'connect-link' %>
        <% end %>
        <% link_to 'https://www.linkedin.com/in/mikez321/' do %>
          <%= image_tag 'iconfinder_linkedin_square_gray_107090.png', :id => 'connect-link' %>
        <% end %>
        <a href="mailto:hernandezmichael321@gmail.com">
          <%= image_tag 'iconfinder_112-gmail_email_mail_4202011.png', :id => 'connect-link' %>
        </a>
        Software Developer | Denver, Colorado
      </section>
    </div>
  </div>
</section>
<% tech = {
  'python' => "I'm a Python developer at ReRent where we're reimagining homesharing.
    I write raw Python code, and am proficent in Django and Flask.",
  'rubyonrails' => "I have built monolith Rails apps, Rails apps that rely on
    microservices, as well as Rails APIs."
} %>
<% tech.each do |item| %>
<section id=<%= item.first %>>
  <div class="info-container">
    <div class="logo-container">
      <%= image_tag "https://simpleicons.org/icons/#{item.first}.svg", :class => 'logo' %>
    </div>
    <div class="lower-text-container">
      <%= item.last %>
    </div>
  </div>
</section>
<% end %>
